@import "../../../../global_css/variables.scss";

.main_cont {
  display: flex;
  justify-content: center;
  position: relative;

  width: 100%;
  margin-top: 30px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  width: 100%;
  height: 616px;
  padding: 4.8rem 4rem 0 4rem;

  & img {
    width: 26rem;
  }
}

.main_right {
  width: 55%;

  & h1 {
    font-size: 2.7rem;
    margin-right: 20%;
  }

  & p {
    font-size: 1.05rem;

    margin: 1.2rem 32% 0 0;

    color: $text-color;
  }

  & a {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.2rem;
    width: 15rem;
    height: 3.6rem;
    margin: 2rem 0 0 0;

    background: $accent-color;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: ease 250ms;
    text-decoration: none;

    &:hover {
      background: $hover;
    }
  }
}

@media screen and (max-width: 1000px) {
  .main_right {
    padding-left: 40px;
  }

  .main_right {
    & h1 {
      width: 100%;
      font-size: 1.2rem;
    }

    & p {
      font-size: 1.05rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
  
    width: 100%;
    height: 616px;
    padding: 4.8rem 4rem 0rem 4rem;
  
    & img {
      width: 14rem;
    }
  }

  .main_right {
    width: 85%;
  
    & h1 {
      font-size: 1.2rem;
      text-align: center;
      // margin-right: 20%;
      margin-top: 20px;
      width: 100%;
    }
  
    & p {
      font-size: 1.05rem;
  
      margin: 1.2rem 32% 0 0;
  
      color: $text-color;
      width: 100%;
      text-align: center;
    }
  
    & a {
      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;
      left: 50%;
      transform: translateX(-50%);
  
      font-size: 1.2rem;
      width: 12rem;
      height: 3.6rem;
      margin: 2rem 0 0 0;
  
      background: $accent-color;
      border: none;
      color: #fff;
      border-radius: 3px;
      cursor: pointer;
      transition: ease 250ms;
      text-decoration: none;
  
      &:hover {
        background: $hover;
      }
    }
  }
}