@import '../../../../global_css/variables.scss';

.sidebar_icon {
  cursor: pointer;
  transition: $transition;

  &:hover {
    background: #585858;
  }

  &:hover > .icon_text {
    transform: scale(1);
  }
}

.sidebar_icon {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 3.35rem;
  height: 3.35rem;
  margin-top: 0.9rem;
  position: relative;

  border-radius: 50%;
  background: #6d6d6d;
  color: #fff;
  text-decoration: none;

  &:hover {
    background: #585858;
  }

  &:first-child {
    margin-top: 0;
  }
}

.sidebar_icon_active {
  background: $accent-color;

  &:hover {
    background: $accent-color;
  }
}

.sidebar_icon_friends,
.sidebar_icon_nodes {
  background: #a3a3a3;

  &:hover {
    opacity: initial;
  }
}

.icon_text {
  padding: 7px 14px;
  position: absolute;
  left: 4.5rem;
  transform: scale(0);

  background: #191a1d;
  border-radius: 3.5px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.725rem;
  transition: ease 100ms;
  transform-origin: left;

  // Not selectable
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
