@import '../../global_css/resets.scss';
@import '../../global_css/variables.scss';

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 7.5rem;
  height: 100vh;

  background: $sidebar;
}

.sidebar_up {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  & .sidebar_icon {
    margin-top: 0.8rem;

    &:first-child {
      margin-top: 1.3rem;
    }
  }
}

.sidebar_bot {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  & .sidebar_icon {
    margin-bottom: 0.8rem;

    &:last-child {
      margin-bottom: 1.3rem;
    }
  }
}

.sidebar_icon {
  transform: scale(0.9);
  cursor: pointer;
}
